{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="card my-5 p-4 rounded-4">
                <h5 class="mb-5 text-center fw-bold">Cambio de contraseña</h5>
                <form class="mx-auto" action="" method="post">
                    {{ csrf_token }}
                    <div class="row mx-auto">
                        <div class="col-md-12 mb-3">
                            <label for="password" class="form-label fw-bold">Contraseña actual</label>
                            <div class="input-group" id="show_hide_password1">
                                <input type="password" name="password" class="form-control border-end-0" id="password" placeholder="Ingrese su contraseña actual" required> 
                                <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="new_password" class="form-label fw-bold">Nueva contraseña</label>
                            <div class="input-group" id="show_hide_password2">
                                <input type="password" name="new_password" class="form-control border-end-0" id="new_password" placeholder="Ingrese su nueva contraseña" required> 
                                <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="confirm_password" class="form-label fw-bold">Confirmar contraseña</label>
                            <div class="input-group" id="show_hide_password3">
                                <input type="password" name="confirm_password" class="form-control border-end-0" id="confirm_password" placeholder="Ingrese su nueva contraseña" required> 
                                <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 mt-2 text-center">
                            
                            <button id="update" type="submit" class="btn btn-primary" disabled>Actualizar</button>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span id="caracteres">Contiene mínimo 8 caracteres</span>
                        <span id="mayuscula">Contiene 1 letra mayúscula</span>
                        <span id="numero">Contiene 1 número</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const password = document.getElementById('new_password');
    const confirm_password = document.getElementById('confirm_password');
    const updateButton = document.getElementById('update');
    const caracteres = document.getElementById('caracteres');
    const mayuscula = document.getElementById('mayuscula');
    const numero = document.getElementById('numero');

    function checkValidation() {
        let pass = password.value;
        let confirm = confirm_password.value;
        let mayus = /[A-Z]/;
        let num = /[0-9]/;

        if (pass.length >= 8 && mayus.test(pass) && num.test(pass) && pass === confirm) {
            updateButton.disabled = false;
        } else {
            updateButton.disabled = true;
        }
    }

    password.addEventListener('keyup', function() {
        let pass = password.value;
        let mayus = /[A-Z]/;
        let num = /[0-9]/;

        if (pass.length >= 8) {
            caracteres.classList.add('text-success');
            caracteres.classList.remove('text-danger');
        } else {
            caracteres.classList.add('text-danger');
            caracteres.classList.remove('text-success');
        }

        if (mayus.test(pass)) {
            mayuscula.classList.add('text-success');
            mayuscula.classList.remove('text-danger');
        } else {
            mayuscula.classList.add('text-danger');
            mayuscula.classList.remove('text-success');
        }

        if (num.test(pass)) {
            numero.classList.add('text-success');
            numero.classList.remove('text-danger');
        } else {
            numero.classList.add('text-danger');
            numero.classList.remove('text-success');
        }

        checkValidation();
    });

    confirm_password.addEventListener('keyup', function() {
        let pass = document.getElementById('new_password').value;
        let confirm = confirm_password.value;

        if (pass === confirm) {
            confirm_password.classList.add('border-success');
            confirm_password.classList.remove('border-danger');
            new_password.classList.add('border-success');
        } else {
            confirm_password.classList.add('border-danger');
            confirm_password.classList.remove('border-success');
        }

        checkValidation();
    });
</script>

<script src="{{ url_for( 'static', filename= 'js/jquery.min.js' ) }}"></script>
    
<script>
    $(document).ready(function () {
        ["#show_hide_password1", "#show_hide_password2", "#show_hide_password3"].forEach(function(id) {
            $(id + " a").on('click', function (event) {
                event.preventDefault();
                if ($(id + ' input').attr("type") == "text") {
                    $(id + ' input').attr('type', 'password');
                    $(id + ' i').addClass("bi-eye-slash-fill");
                    $(id + ' i').removeClass("bi-eye-fill");
                } else if ($(id + ' input').attr("type") == "password") {
                    $(id + ' input').attr('type', 'text');
                    $(id + ' i').removeClass("bi-eye-slash-fill");
                    $(id + ' i').addClass("bi-eye-fill");
                }
            });
        });
    });
</script>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for category, message in messages %}
<script>
    swal({
        text: "{{ message }}",
        icon: "{{ category }}",
        button: "OK",
    });
</script>
{% endfor %}

{% endif %}
{% endwith %}


{% endblock %}