{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card my-5 p-4 rounded-4">
                <form class="mb-4" action="" method="post">
                    <div class="mb-3">
                        <label for="instructor_name" class="form-label">Nombre del instructor</label>
                        <div class="d-flex">
                            <input class="form-control form-control-lg" list="instructor_list" name="instructor_name" id="instructor_name">
                        <datalist id="instructor_list">
                            {% for instructor in instructors %}
                            <option value="{{ instructor.name }}">{{ instructor.name }}</option>
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                            <i class="material-icons-outlined">search</i>
                        </button>
                        </div>
                    </div>                   
                    
                </form>
                <div class="table-responsive">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <!-- <a class="mb-3" href="{{ url_for('schedule_down') }}" data-bs-toggle="tooltip" data-bs-placement="right" title="Descargar horario">                       
                                <img src="{{ url_for( 'static', filename = 'images/export-excel-35.png' ) }}" alt=""></a> -->
                            <a type="button" class="mb-3 mx-2 custom-tooltip" title="Detalle RAPS" data-bs-toggle="tooltip" data-bs-placement="right">                                
                                <img src="{{ url_for( 'static', filename = 'images/rap1-icon-35.png' ) }}" alt="" data-bs-toggle="modal" data-bs-target="#modalRaps" >
                            </a>                                                    
                            
                        </div>
                        <p class="fs-6 ml-4"> <span class="fw-bold ml-4">Trimestre académico:</span> {{trimestre}}</p>                        
                    </div>    
                    {% if schedule %}            
                    <table class="table table-bordered">                        
                        <tr>
                            <th></th>
                            {% for day in days %}
                            <th style="background-color: #C5EAE8;">{{ day }}</th>
                            {% endfor %}
                        </tr>
                        {% for hour, hour_f in hours_combined %}
                        <tr>
                            <td class="fw-bold">{{ hour_f }}</td>
                            {% for day in days %}
                            <td>
                                {% for clase in schedule.horario[day][hour] %}
                                <small class="d-block text-center fw-bold">{{ clase.NOMBRE_COMPETENCIA }}</small>
                                <small class="d-block text-center">{{ clase.FICHA }}</small>
                                <small class="d-block text-center">{{ clase.AMB }}</small>
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if schedule %}

<div class="modal fade" id="modalRaps" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Detalle Resultados de Aprendizajes
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Ficha</th>
                                <th>Trimestre</th>
                                <th>Programa</th>
                                <th>Palabra clave</th>
                                <th>Norma de Competencia (Sofíaplus) </th>
                                <th>Compentencia</th>
                                <th>RAP</th>
                                {% if user['role'] == 'APOYO_COORDINADOR'  %}
                                <th>RAP EN SOFIA</th>
                                {% endif %}                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in schedule.detalles['key'] %}
                                {% for det in detalle %}
                            <tr>
                                <td>{{ detalle[0].FICHA }}</td>
                                <td>{{ detalle[0].TRIMESTRE }}</td>
                                <td>{{ detalle[0].PROGRAMA }}</td>
                                <td>{{ detalle[0].PALABRA_CLAVE }}</td>
                                <td>{{ detalle[0].NCL }}</td>
                                <td>{{ detalle[0].COMPETENCIA }}</td>
                                <td>{{ detalle[0].RAP }}</td>
                                <!-- RAP_SOFIA -->
                                {% if user['role'] == 'APOYO_COORDINADOR'  %}
                                <td>{{ detalle[0].RAP_SOFIA }}</td>
                                {% endif %}
                            </tr>
                                {% endfor %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>
    
{% endif %}

{% endblock %}