.custom-tooltip {
    position: relative;
    display: inline-block;
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #C5EAE8;
    color: #404040;
    text-align: center;
    padding: 2px 2px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 30%;
    /* Position the tooltip above the link */
    left: 100%;
    /* Use half the width to center the tooltip */

    opacity: 0;
    transition: opacity 0.3s;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.bg-green {
    background-color: #C5EAE8;
}