{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example2').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                }
            },
            {
				lengthChange: false,
				buttons: [ 'copy', 'excel', 'pdf', 'print']
			}
        );
        table.buttons().container()
				.appendTo( '#example2_wrapper .col-md-6:eq(0)' );
    });
</script>


<div class="container-fluid my-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Instructor</th>
                                    <th scope="col">Programa</th>
                                    <th scope="col">Ficha</th>
                                    <th scope="col">Aprendiz</th>
                                    <th scope="col">Tipo Doc.</th>
                                    <th scope="col">Documento</th>
                                    <th scope="col">Correo electrónico</th>
                                    <th scope="col">Motivo</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Evidencias</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for compl in comp_students %}
                                <tr>
                                    <td>{{ compl.fecha }}</td>
                                    <td>{{ compl.nombre_completo_instructor }}</td>
                                    <td>{{ compl.nombre_programa}}</td>
                                    <td>{{ compl.ficha }}</td>
                                    <td>{{ compl.nombre_completo_aprendiz}}</td>
                                    <td>{{ compl.tipo_documento }}</td>
                                    <td>{{ compl.documento }}</td>
                                    <td>{{ compl.correo }}</td>
                                    <td>{{ compl.motivo }}</td>
                                    <td>{{ compl.descripcion_motivo }}</td>
                                    <td><a href="{{ compl.link_evidencias }}">link</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}