{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card mt-5 p-4 rounded-4">
                <p class="mb-4">En este espacio puedes consultar el rendimiento académico y el historial de un aprendiz en los comités de seguimiento académico</p>               
                <form action="" method="post">
                    {{ csrf_token }}
                    <div class="row">
                        <div class="col-md-9 mb-3">
                            <label for="documentoaprendiz" class="form-label fw-bold">Documento del aprendiz</label>
                            <input type="text" class="form-control" name="documentoaprendiz" id="documentoaprendiz" list="documentos" aria-describedby="helpId" placeholder="Ingresa el documento del aprendiz" onchange="this.form.submit()" />                        
                            <datalist id="documentos">
                                <option value="">Seleccione un aprendiz</option>
                                {% for student in student_list %}                                    
                                    <option value="{{student.numero_documento}}">{{student.nombre_completo}}</option>
                                {% endfor %}
                            </datalist>
                            <small class="text-danger">{{error}}</small>
                        </div>                        
                    </div>                    
                </form>
            </div>
        </div>
    </div>
    {% if performance %}
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card p-4 rounded-4">
                <div class="d-flex">
                    <div class=" d-flex flex-column">
                        <span class="fw-bold">{{ performance.name_student }}</span>
                        <span class="text-muted">{{ performance.document_type }} {{ performance.document }}</span>
                        <span class="{% if performance.status == 'EN FORMACION' %}text-success{% elif performance.status == 'CONDICIONADO' %}text-warning{% else %}text-danger{% endif %}">{{ performance.status }}</span>                
                        <span class="fw-bold mt-3">Rendimiento académico</span>
                        <span class="text-white col-3  {% if performance.performance_student == 'Alto' or performance.performance_student == 'Bueno' %}bg-success{% else %}bg-danger{% endif %}">{{ performance.performance_student }}</span>
                        <span class="fw-bold mt-3">Ficha</span>
                        <span class="text-muted">{{ performance.course }}</span>
                        <span class="fw-bold mt-1">Programa</span>
                        <span class="text-muted">{{ performance.program }}</span>
                        <span class="fw-bold mt-1">Correo electrónico</span>
                        <span class="text-muted">{{ performance.email }}</span>
                        <span class="fw-bold mt-1">Celular</span>
                        <span class="text-muted">{{ performance.phone }}</span>
                    </div>                    
                    <div class="border border-muted border-1 mx-5"></div>
                    <div class="col-8">
                        <span class="fw-bold">Porcentaje de evaluación de juicios</span>
                        <div id="chartJudge"></div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
      
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card p-4 rounded-4">
                {% if data %}
                <h5 class="fw-bold">Historial de comité académico</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mt-3">
                        <thead>
                            <tr>
                                <th style="background-color: #C5EAE8;">Instructores que reportan</th>
                                <th style="background-color: #C5EAE8;">Instructores con no aprobados</th>                                                                
                                <th style="background-color: #C5EAE8;">Motivo de la queja</th>
                                <th style="background-color: #C5EAE8;">Descripción de la queja</th>
                                <th style="background-color: #C5EAE8;">Asistencia a comité</th>
                                <th style="background-color: #C5EAE8;">Decisión del comité</th>
                                <th style="background-color: #C5EAE8;">Fecha del comité</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aprendiz in data %}
                            <tr>
                                <td>{{ aprendiz.INSTRUCTOR_REPORTA }}</td>
                                <td>{{ aprendiz.NOMBRE_INSTRUCTOR }}</td>
                                <td>{{ aprendiz.QUEJA }}</td>
                                <td>{{ aprendiz.MOTIVO }}</td>
                                <td>{{ aprendiz.ASISTENCIA }}</td>
                                <td>{{ aprendiz.DECISION }}</td>
                                <td>{{ aprendiz.FECHA }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <h5 class="text-success">{{ mensaje }}</h5>
        </div>
    </div>
</div>
<script>  
    let values = [{{ performance.percentage_approved | safe }}, {{ performance.percentage_no_approved | safe }}];
</script>

<script src="{{ url_for( 'static', filename = 'js/performanceStudent.js' ) }}"></script>

{% endblock %}