{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card my-5 p-4 rounded-4">               
                <form action="" method="post">
                    {{ csrf_token }}
                    <div class="row">
                        <div class="col-md-9 mb-3">
                            <label for="" class="form-label fw-bold">Numero de la ficha</label>
                            <input type="number" class="form-control" name="ficha" id="" aria-describedby="helpId" placeholder="Ingresa el numero de la ficha"/>                        
                            <small class="text-danger">{{error}}</small>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary mt-4"> Consultar </button>
                        </div>                        
                    </div>                    
                </form>
                {% if schedule_course %}
                <div class="table-responsive mt-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>   
                            <a class="mb-3" href="{{ url_for('schedule_course_down') }}" data-bs-toggle="tooltip" data-bs-placement="right" title="Descargar horario">
                                <!-- <span class="tooltip-text">Descargar horario</span> -->
                                <img src="{{ url_for( 'static', filename = 'images/export-excel-35.png' ) }}" alt=""></a>                        
                                <a type="button" class="mb-3 mx-2 custom-tooltip" title="Detalle RAPS" data-bs-toggle="tooltip" data-bs-placement="right">                                
                                    <img src="{{ url_for( 'static', filename = 'images/rap1-icon-35.png' ) }}" alt="" data-bs-toggle="modal" data-bs-target="#modalRaps" > </a>
                        </div>
                        <div class="d-flex">
                            <p class="fs-6 mx-3"> <span class="fw-bold">Ficha:</span> {{schedule_course.ficha}}</p>
                            <p class="fs-6"> <span class="fw-bold">Titular:</span> {{schedule_course.titular}}</p>
                            <p class="fs-6 mx-3"> <span class="fw-bold">Trimestre académico:</span> {{schedule_course.trimestre}}</p>                        
                        </div>
                    </div>   
                    <table class="table table-bordered">                        
                        <tr>
                            <th></th>
                            {% for day in days %}
                            <th style="background-color: #C5EAE8;">{{ day }}</th>
                            {% endfor %}
                        </tr>
                        {% for hour, hour_f in hours_combined %}
                        <tr>
                            <td class="fw-bold">{{ hour_f }}</td>
                            {% for day in days %}
                            <td>
                                {% for clase in schedule_course.horario[day][hour] %}
                                <small class="d-block text-center fw-bold">{{ clase.NOMBRE_COMPETENCIA }}</small>
                                <small class="d-block text-center">{{ clase.INSTRUCTOR }}</small>
                                <small class="d-block text-center">{{ clase.AMB }}</small>
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if schedule_course %}
<div class="modal fade" id="modalRaps" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Detalle Resultados de Aprendizajes
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>                               
                                <th>Palabra clave</th>
                                <th>Norma de Competencia (Sofíaplus) </th>
                                <th>Compentencia</th>
                                <th>RAP</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in schedule_course.detalles['key'] %}
                            <tr>                          
                                <td>{{ detalle[0].PALABRA_CLAVE }}</td>
                                <td>{{ detalle[0].NCL }}</td>
                                <td>{{ detalle[0].COMPETENCIA }}</td>
                                <td>{{ detalle[0].RAP }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}